
<div *ngIf="teacher">
    <h2><span>Profesor</span> {{teacher.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombres</span></dt>
        <dd>
            <span>{{teacher.firstName}}</span>
        </dd>
        <dt><span>Apellidos</span></dt>
        <dd>
            <span>{{teacher.lastName}}</span>
        </dd>
        <dt><span>Identificacion</span></dt>
        <dd>
            <span>{{teacher.identification}}</span>
        </dd>
        <dt><span>Genero</span></dt>
        <dd>
            <span>{{teacher.gender}}</span>
        </dd>
        <dt><span>Cursos</span></dt>
        <dd>
            <span *ngFor="let course of teacher.courses; let last = last">
                <a [routerLink]="['/course', course?.id ]">{{course.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Volver</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'teacher/'+ teacher.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Editar</span>
    </button>
</div>
